# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
requirements.txt
.venv/
venv/
*.sqlite3
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Test directory to ignore
backend/tests/
