.control-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.control-bar-filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}

.control-bar-select {
	padding: 0.25rem 0.75rem;
	border-radius: 0.25rem;
    border-color: black;
}

.control-bar-select::placeholder {
    color: inherit;
    opacity: 0.7;
}

.control-bar-select:hover {
    cursor: pointer;
}

.control-bar-select [role="option"]:focus,
.control-bar-select [role="option"]:active {
  outline: none;
  box-shadow: none;
  border: none;
}


.control-bar-button {
	padding: 0.5rem 1rem;
    margin-top: 1rem;
	border-radius: 0.25rem;
	background-color: #2563eb;
	color: white;
	transition: background-color 0.2s;
}

.control-bar-button:hover {
	background-color: #5b78cc;
}

