
.control-bar-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	width: 100%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
    align-items: center;
}


.control-bar-top {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	justify-content: flex-start;
    align-self: flex-start;
}

.toggle-container {
	flex-shrink: 0;
}

.add-task-container {
	flex-shrink: 0;
}

.control-bar-grid-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.control-bar-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
	grid-auto-rows: auto;
	gap: 1em;
	width: 100%;
	max-width: 50em;
	justify-items: center;
	box-sizing: border-box;
}

.items-container {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	width: 100%;
	min-width: 0;
	box-sizing: border-box;
}

.control-bar-select {
	padding: 0.25em 0.75em;
	border-radius: 0.25em;
	border-color: black;
	width: 100%;
	max-width: 12em;
	box-sizing: border-box;
}
