
.icon-style {
    background-color: transparent;
    border-width: 0.2em;
    box-shadow: 0 0.12em 1em rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.status-container {
    width: 80%;
    padding: 0.4em;
    text-align: center;
}