
.task-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    gap: 1em;
}

.task-board-header {
    font-size: clamp(2em, 10vw, 5em);
}



